<%- include('../includes/head.ejs') %>


<body>
      <%- include('../includes/admin-nav.ejs') %>
       <div id="pad"></div>


<!--================Categories Product Area =================-->
<% if (prods.length > 0) { %> 
     
<section class="no_sidebar_2column_area">
     <div class="container">
      <div class="showing_fillter">
          <div class="row m0">
              <div class="first_fillter">
                  <h4>Showing 1 to 12 of 30 total</h4>
              </div>
     </div>
      </div>
      
      <div class="two_column_product"> 
         <div class="row">
             <% for (let product of prods) { %> 
              <div class="col-lg-3 col-sm-6">
                  <div class="l_product_item">
                      <div class="l_p_img">
                          <img class="img-fluid" src="<%= product.imageUrl %>"
                          alt="<%= product.title %>">
                          </div>
                      <div class="l_p_text">
                         <ul>
                            <li><a class="add_cart_btn" href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a></li>
                            <li><button class="btn add_cart_btn" type="button" onclick="deleteProduct(this)">Delete</button></li>
                            <input type="hidden" value="<%= product._id %>" name="productId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </ul>
                          <h4 class="product__title"><%= product.title %></h4>
                        </div>
                  </div>
              </div>
              <% } %>
            </div>
     
          <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>


          <nav aria-label="Page navigation example" class="pagination_area">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            </ul>
          </nav>
        </div>   
   </section>
<!--================End Categories Product Area =================-->




<%- include('../includes/admin-end.ejs') %>

<script src="/js/admin.js"></script>

      <!-- Bootstrap -->
      <link href="/css/css/bootstrap.min.css" rel="stylesheet">
     
      <link href="/css/css/style.css" rel="stylesheet">
      <link href="/css/css/responsive.css" rel="stylesheet">
             
     